<ion-header>
  <ion-toolbar>
    <ion-title>{{title}}</ion-title>

    <ion-buttons slot="start">
      <ion-button (click)="back()">Back <div>
        </div></ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card *ngFor="let t of tripexpense">
    <ion-card-header class="ion-no-border">
      <ion-card-title>
        {{ t.description }}
      </ion-card-title>
    </ion-card-header>
    <!-- End: Description -->
    
    <ion-item style="display: flex; flex-direction: column;">
      <!-- Space -->
      <div style="margin-top: 16px;"></div>

      <!-- Expense Amount -->
      <ion-card-content class="amount ion-no-border">
        ₹ {{ t.amount }}
      </ion-card-content>

      <!-- Delete Button -->
      <ion-button class="delete custom-size" color="danger" slot="end" (click)="deleteExpense(t._id)">
        <ion-icon name="trash"></ion-icon>
      </ion-button>
    </ion-item>
  </ion-card>

  <ion-fab slot="fixed" horizontal="end" vertical="bottom" class="ion-padding">
    <ion-fab-button color="success">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="top">
      <ion-fab-button (click)="openExpenseModal(tripId)">
        <ion-icon name="cash-outline"></ion-icon>
      </ion-fab-button>
      <ion-fab-button (click)="openPeopleModal(tripId)">
        <ion-icon name="people-outline"></ion-icon>
      </ion-fab-button>
    </ion-fab-list>
  </ion-fab>

</ion-content>