<ion-header class="ion-no-border">
  <ion-toolbar color="light">
    <ion-title mode="md">Dashboard</ion-title>

    <ion-buttons slot="end" style="display: flex; align-items: center;">
      <ion-button>
        <ion-thumbnail class="notification">
          <ion-icon name="notifications-circle-outline"></ion-icon>
        </ion-thumbnail>
      </ion-button>

      <div style="width: 15px;"></div>

      <ion-button routerLink="/dashboard/profile">
        <ion-thumbnail class="profile">
          <ion-icon name="person-circle-sharp"></ion-icon>
        </ion-thumbnail>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="balance">
    <ion-card-header>
      <ion-card-title>Overall Balance</ion-card-title>
    </ion-card-header>
    <ion-card-content class="balanceAmount"> ₹ {{balanceAmount}} </ion-card-content>
  </ion-card>

  <ion-card class="monthlybalance">
    <ion-card-header class="head-card">
      <ion-card-title class="card-title">Select Month & Year</ion-card-title>
    </ion-card-header>
    <ion-grid>
      <!-- <ion-row>
        <ion-col>
          <ion-list>
            <ion-item>
              <ion-select aria-label="Month" value="January" (ionChange)="ongetMY($event)">
                <ion-select-option value="January">January</ion-select-option>
                <ion-select-option value="February">February</ion-select-option>
                <ion-select-option value="March">March</ion-select-option>
                <ion-select-option value="April">April</ion-select-option>
                <ion-select-option value="May">May</ion-select-option>
                <ion-select-option value="June">June</ion-select-option>
                <ion-select-option value="July">July</ion-select-option>
                <ion-select-option value="August">August</ion-select-option>
                <ion-select-option value="September">September</ion-select-option>
                <ion-select-option value="October">October</ion-select-option>
                <ion-select-option value="November">November</ion-select-option>
                <ion-select-option value="December">December</ion-select-option>
              </ion-select>
            </ion-item>
          </ion-list>
        </ion-col>
        <ion-col>
          <ion-list>
            <ion-item>
              <ion-select aria-label="Year" value="2024" (ionChange)="ongetY($event)">
                <ion-select-option value="2021">2021</ion-select-option>
                <ion-select-option value="2022">2022</ion-select-option>
                <ion-select-option value="2023">2023</ion-select-option>
                <ion-select-option value="2024">2024</ion-select-option>
              </ion-select>
            </ion-item>
          </ion-list>
        </ion-col>
      </ion-row> -->
      <ion-row>
        <ion-col>
          <ion-list>
            <ion-item>
              <ion-select aria-label="Month" [(ngModel)]="isSelectMonth" (ionChange)="ongetMY($event)">
                <ion-select-option value="January">January</ion-select-option>
                <ion-select-option value="February">February</ion-select-option>
                <ion-select-option value="March">March</ion-select-option>
                <ion-select-option value="April">April</ion-select-option>
                <ion-select-option value="May">May</ion-select-option>
                <ion-select-option value="June">June</ion-select-option>
                <ion-select-option value="July">July</ion-select-option>
                <ion-select-option value="August">August</ion-select-option>
                <ion-select-option value="September">September</ion-select-option>
                <ion-select-option value="October">October</ion-select-option>
                <ion-select-option value="November">November</ion-select-option>
                <ion-select-option value="December">December</ion-select-option>
              </ion-select>
            </ion-item>
          </ion-list>
        </ion-col>
        <ion-col>
          <ion-list>
            <ion-item>
              <ion-select aria-label="Year" [(ngModel)]="isSelectYear" (ionChange)="ongetY($event)">
                <ion-select-option value="2023">2023</ion-select-option>
                <ion-select-option value="2024">2024</ion-select-option>
                <ion-select-option value="2025">2025</ion-select-option>
                <ion-select-option value="2026">2026</ion-select-option>
              </ion-select>
            </ion-item>
          </ion-list>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card>

  <ion-card class="monthlybalance">
    <ion-card-header class="head-card">
      <ion-card-title class="card-title">Monthly Balance </ion-card-title>
    </ion-card-header>
    <ion-card-content> ₹ {{balance}}</ion-card-content>
  </ion-card>

  <ion-card class="monthlybalance">
    <ion-card-header class="head-card">
      <ion-card-title class="card-title">Monthly Income</ion-card-title>
    </ion-card-header>
    <ion-card-content> ₹ {{income}} </ion-card-content>
  </ion-card>

  <ion-card class="monthlybalance">
    <ion-card-header class="head-card">
      <ion-card-title class="card-title">Monthly Expense</ion-card-title>
    </ion-card-header>
    <ion-card-content> ₹ {{expense}} </ion-card-content>
  </ion-card>
</ion-content>