<ion-header class="ion-no-border">
  <ion-toolbar color="light" class="ion-padding-vertical">
    <ion-title mode="md">Dashboard</ion-title>

    <ion-buttons slot="end" style="display: flex; align-items: center;">
      <ion-button>
        <ion-thumbnail class="notification">
          <ion-icon name="notifications-circle-outline"></ion-icon>
        </ion-thumbnail>
      </ion-button>

      <div style="width: 15px;"></div>

      <ion-button routerLink="/dashboard/profile">
        <ion-thumbnail class="profile">
          <ion-icon name="person-circle-sharp"></ion-icon>
        </ion-thumbnail>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="balance">
    <ion-card-header>
      <ion-card-title>Total Balance</ion-card-title>
    </ion-card-header>
    <ion-card-content> Card Content </ion-card-content>
  </ion-card>

  <ion-card class="income">
    <ion-card-header>
      <ion-card-title>Total Income</ion-card-title>
    </ion-card-header>
    <ion-card-content> {{totalincome}} </ion-card-content>
  </ion-card>

  <ion-card class="expense">
    <ion-card-header>
      <ion-card-title>Total Expense</ion-card-title>
    </ion-card-header>
    <ion-card-content> Card Content </ion-card-content>
  </ion-card>
</ion-content>