<div id="sign-in-button"></div>

<ion-content class="ion-padding" *ngIf="!isOTPVerification">
  <div class="container">
    <!-- <h1 class="heading" style="color: #959595; margin-top: 20px;">
      <span style="font-size: 32px; font-weight: bold">Welcome back!!</span><br>
      <span style="font-size: 20px; font-weight: bold">login yourself</span>
    </h1> -->
    <div class="hed">
      <h1 class="head">Welcome back.!!</h1>
      <span class="sub-head">Login yourself</span>
    </div>
    <div style="position: relative; display: flex; flex-direction: column; align-items: center; justify-content: center;
      height: 100%;">

      <!-- Image -->
      <img src="assets/mobile.svg" alt="Your Image" style="width: 100%; height: auto; margin-bottom: 20px;">

      <ion-item-group class="ion-margin-horizontal ion-margin-bottom" style="width: 100%;">
        <form [formGroup]="form" (ngSubmit)="onSubmitLoginForm()">
          <!-- Inputs -->
          <div class="ion-margin-vertical" style="width: 100%; max-width: 350px;">
            <ion-item>
              <ion-input formControlName="phone" label="Mobile No" label-placement="floating" fill="solid"
                placeholder="Mobile No" type="tel" minlength="10" maxlength="10"></ion-input>
            </ion-item>
            <ion-text *ngIf="!form.get('phone')?.valid && form.get('phone')?.touched">
              <ion-text class="error" *ngIf="form.get('phone')?.hasError('required')" color="danger">
                Mobile Number Required
              </ion-text>
              <ion-text class="error"
                *ngIf="form.get('phone')?.hasError('minlength') && !form.get('phone')?.hasError('required')"
                color="danger">
                Invalid Mobile Number
              </ion-text>
            </ion-text>
          </div>

          <ion-item lines="none" class="ion-padding-top ion-no-border">
            <div style="width: 100%">
              <ion-button shape="round" expand="block" class="button" type="ngSubmit" [disabled]="!form.valid">
                Send OTP
              </ion-button>
            </div>
          </ion-item>
        </form>
        <ion-item lines="none" class="ion-padding-top ion-no-border text-right">
          Don't have account ? &nbsp;<ion-label color="primary" (click)="onClickSignUp()">Sign Up</ion-label>
        </ion-item>
      </ion-item-group>
    </div>
  </div>
</ion-content>

<!-- OTP Verification Section -->
<ion-content *ngIf="isOTPVerification" class="ion-padding" [fullscreen]="true">
  <div class="container login-otp" id="auth">
    <!-- Image -->
    <img src="assets\enterotp.png" alt="Image" class="center-image">

    <!-- Text below Textbox -->
    <div class="text-below-input">
      <p class="otp-head">Enter the OTP code</p>
      <p class="otp-sub-title">Enter the code sent on your mobile number</p>
      <b class="mobile-no-label">{{labelMobileNo}}</b>
    </div>

    <!-- OTP Input using ng-otp-input -->
    <ng-otp-input (onInputChange)="onOtpChange($event)" [config]="{length:6}"
      style="text-align: center;"></ng-otp-input>

    <!-- Button -->
    <div style="display: flex; justify-content: center;">
      <ion-button expand="block"
        style="margin-top: 20px; width: 85%; height: 52px; --background: #7ED957; --border-radius: 50px;"
        (click)="verifyOTP()" type="ngSubmit" [disabled]="disabledVerifyOTPBtn">Verify</ion-button>
    </div>
  </div>
</ion-content>