ion-content {
  background-color: #ffffff;
  .heading {
    .heading {
      font-size: 32px;
      font-weight: bold;
      font-family: "Ubuntu", sans-serif;
      width: 245px;
      height: 58px;
      white-space: nowrap; /* Ensures the heading remains in one line */
    }
  }
}

.inner-scroll {
  --offset-top: 0px;
}

ion-item-group .button {
  --background: #7ed957;
  color: white;
  width: 100%;
  height: 6vh;
  border-radius: 20px;
  display: inline-block;
}

.log-in {
  font-size: 16px;
  padding-left: 5%;
  color: #7ed957;
}

.hed {
  margin: 5rem 1rem 1rem 1rem;
}

.head {
  color: gray;
  font-size: 31px;
  font-weight: 600;
}

.sub-head {
  color: #979797;
  font-size: 19px;
}

.login-otp {
  position: relative;
  top: 20%;
}

.otp-head {
  font-size: 23px;
  text-align: center;
  font-weight: 600;
  color: #5b5b5b;
  letter-spacing: 1px;
  margin-bottom: 0px;
}

.otp-sub-title {
  text-align: center;
  color: #5d5d5d;
  font-size: 16px;
  margin: 0.5rem 0rem 1rem 0rem;
  font-weight: 500;
}

:host ::ng-deep {
  .otp-input {
    width: 50px !important;
    font-size: 20px !important;
    height: 50px !important;
  }
}

.mobile-no-label {
  text-align: center;
  width: 100%;
  display: block;
  padding: 0.5rem 1rem 1rem 1rem;
}
