

<ion-content class="ion-padding" [fullscreen]="true">
  <div class="container">
  <h1 class="heading" style="color: #959595; margin-top: 30px;">
  <span style="font-size: 32px; font-weight: bold;font-family: Ubuntu;">Welcome back!!</span><br>
  <span style="font-size: 20px; font-weight: bold; font-family: Ubuntu;">login yourself</span>
</h1>
  <div style="position: relative; display: flex; flex-direction: column; align-items: center; justify-content: center; height: 100%;">
    <!-- Image -->
    <img src="/assets/mobile.svg" alt="Your Image" style="width: 400px; height: 400px; margin-bottom: 20px;">


    <!-- Inputs -->
    <div class="inputs-container">
      <ion-input label="Mobile No." label-placement="floating" fill="outline" placeholder="Enter text" style="width: 350px; height: 91px; border: 1px solid; border-top-left-radius: 10px;
      border-top-right-radius: 10px;
      border-bottom-left-radius: 10px;
      border-bottom-right-radius: 10px #000000"></ion-input>
    </div>

    <!-- Button -->
    <ion-button expand="block" style="margin-top: 20px; width: 350px; height: 59px; --background: #7ED957; --border-radius: 50px;">SEND OTP</ion-button>
  </div>
</div>
