<ion-header>
  <ion-toolbar>
    <ion-title>login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding" [fullscreen]="true">
  <div class="container">
  <h1 class="heading" style="color: #959595; margin-top: 20px; font-weight: bold;">welcome back!! login yourself</h1>
  <!-- Centered content -->
  <div style="position: relative; display: flex; flex-direction: column; align-items: center; justify-content: center; height: 100%;">
    <!-- Image -->
    <img src="/assets/enterotp.png" alt="Your Image" style="width: 425px; height: 425px; margin-bottom: 20px;">


    <!-- Inputs -->
    <div class="inputs-container">
      <ion-input label="Mobile No." label-placement="floating" fill="outline" placeholder="Enter text" style="width: 350px; height: 91px; --border-color: #000000;"></ion-input>
    </div>

    <!-- Button -->
    <ion-button expand="block" style="margin-top: 20px; width: 350px; height: 59px; --background: #7ED957; --border-radius: 50px;">SEND OTP</ion-button>
  </div>
</div>
