<ion-header class="header-with-border">
  <ion-title mode="md" class="tile-center">Transaction History</ion-title>
</ion-header>

<ion-content [fullscreen]="true">
  <!-- Subtitle -->
  <ion-list-header>
    <ion-label>Recent Transactions</ion-label>
  </ion-list-header>

  <!-- Main Content Area -->
  <ion-list>
    <ion-item *ngFor="let t of transactions; let index">
      <ion-avatar slot="start"></ion-avatar>
      <ion-label>
        <h2>{{ t.transactionDate }}</h2>
        <p>Amount : {{ t.amount }}</p>
        <p>Type : {{ t.expenseCategory }}</p>
        <p>Category : {{ t.isIncome }}</p>
      </ion-label>

      <ion-button class="delete custom-size" color="danger" (click)="deleteTransaction(t._id)">
        <ion-icon name="trash"></ion-icon>
      </ion-button>
    </ion-item>
  </ion-list>

  <!-- Infinite Scroll -->
  <ion-infinite-scroll (ionInfinite)="loadMoreTransactions($event)">
    <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Loading more data..."></ion-infinite-scroll-content>
  </ion-infinite-scroll>

  <!-- Fab Button -->
<ion-fab vertical="bottom" horizontal="end" slot="fixed" class="ion-padding">
  <ion-fab-button color="success" (click)="navigateToTransactionEntry()">
    <ion-icon name="add"></ion-icon>
  </ion-fab-button>
</ion-fab>


</ion-content>
