<ion-header class="header-with-border">
  <ion-title mode="md" class="tile-center">Transaction History</ion-title>
</ion-header>
<ion-content [fullscreen]="true">
  <ion-list>
    <ion-item class="card-style" *ngFor="let t of transactions; let index">
      <ion-label>
        <h2>{{ t.transactionDate | date: 'dd MMM yyyy' }}</h2>
        <p class="details">Amount : {{ t.amount }}</p>
        <p class="details">Type : {{ t.expenseCategory }}</p>
        <p class="details">Category : <span *ngIf=" t.isIncome == 'income'" style="color: green;">Income</span> <span
            *ngIf=" t.isIncome == 'expense'" style="color: #f55555;">Expense</span> </p>
      </ion-label>
      <ion-button class="delete custom-size" color="danger" (click)="deleteTransaction(t._id)">
        <ion-icon name="trash"></ion-icon>
      </ion-button>
    </ion-item>
  </ion-list>
  <div *ngIf="histroyCount == 0">
    <img src="../../../assets/no-histroy.png" alt="">
    <h3 style="text-align: center;">No History</h3>
  </div>

  <!-- <ion-infinite-scroll (ionInfinite)="loadMoreTransactions($event)">
    <ion-infinite-scroll-content loadingSpinner="bubbles"
      loadingText="Loading more data..."></ion-infinite-scroll-content>
  </ion-infinite-scroll> -->

  <ion-fab vertical="bottom" horizontal="end" slot="fixed" class="ion-padding">
    <ion-fab-button color="success" (click)="navigateToTransactionEntry()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>