<ion-header>
  <ion-toolbar>
    <ion-title>Add Expense</ion-title>

    <ion-buttons slot="start">
      <ion-button (click)="back()">Back <div>
        </div></ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <form [formGroup]="addExpenseForm" id="expenseform">
    <ion-item>
      <ion-input formControlName="amount" type="number" label="Expense Amount" labelPlacement="stacked"
        placeholder="Expense Amount"></ion-input>
    </ion-item>
    <ion-item lines="none" *ngIf="addExpenseForm.get('amount')?.invalid && addExpenseForm.get('amount')?.touched">
      <ion-text color="danger">Expense Amount is required.</ion-text>
    </ion-item>
    <br><br>
    <ion-item>
      <ion-input formControlName="description" type="text" label="Expense Description" labelPlacement="stacked"
        placeholder="Expense Description"></ion-input>
    </ion-item>
    <ion-item lines="none"
      *ngIf="addExpenseForm.get('description')?.invalid && addExpenseForm.get('description')?.touched">
      <ion-text color="danger">Expense Description is required.</ion-text>
    </ion-item>
    <br><br><br>
    <ion-item lines="none">
      <div slot="start" style="margin-left: 20px;">
        <ion-button class="cancel" (click)="cancel()" size="default" fill="outline">CANCEL</ion-button>
      </div>
      <div slot="end" style="margin-right: 20px;">
        <ion-button class="save" (click)="confirm()" size="default" [strong]="true" [disabled]="addExpenseForm.invalid"
          fill="solid">SAVE</ion-button>
      </div>
    </ion-item>
  </form>
</ion-content>