<ion-header>
  <ion-toolbar>
    <ion-icon slot="start" class="back" (click)="back()" name="arrow-back-outline"></ion-icon>
    <ion-title>Split Amount</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>
  <ion-card class="ion-padding">
    <ion-card-header>
      <ion-card-title>{{title}}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-list>
        <ion-item *ngFor="let t of persons; let index">
          <ion-label>
            <h2>{{t.user.name}}</h2>
            <p>{{ t.user.phone }}</p>
          </ion-label>

          <ion-label slot="end">
            <h2> ₹ {{t.amount}}</h2>
          </ion-label>
        </ion-item>
      </ion-list>
    </ion-card-content>

    <ion-button class="save" (click)="splitAmount()" size="default" [strong]="true" fill="solid">Make Split</ion-button>
  </ion-card>

  <ion-card class="ion-padding" *ngIf="settlementList && settlementList.length > 0">
    <ion-card-header>
      <ion-card-title>Settlement</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-list>
        <ion-item *ngFor="let s of settlementList; let index">
          <ion-label>
            <h2>{{s.from.name}}</h2>
            <p>{{s.from.mobileNo}}</p>
          </ion-label>

          <ion-label class="ion-padding">
            <h2> ₹ {{s.amount | number : '1.2-2'}} </h2>
          </ion-label>

          <ion-label slot="end">
            <h2>{{s.to.name}}</h2>
            <p>{{s.to.mobileNo}}</p>
          </ion-label>
        </ion-item>

      </ion-list>
    </ion-card-content>
  </ion-card>
</ion-content>