<ion-header>
  <ion-toolbar>
    <ion-icon slot="start" class="back" (click)="back()" name="arrow-back-outline"></ion-icon>
    <ion-title>Split Amount</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>
  <ion-card class="ion-padding">
    <ion-card-header>
      <ion-card-title>{{title}}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-list>
        <ion-item *ngFor="let t of persons; let index">
          <ion-label>
            <h2>{{t.name}}</h2>
            <p>{{ t.phone }}</p>
          </ion-label>

          <ion-label slot="end">
            <h2> ₹ {{t.amount}}</h2>
          </ion-label>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>

  <ion-card class="ion-padding">
    <ion-card-header>
      <ion-card-title>Settlement</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-list>
        <ion-item >
          <ion-label>
            <h2>user2</h2>
            <p>8787890090</p>
          </ion-label>

          <ion-label class="ion-padding">
            <h2> ₹ 200 </h2>
          </ion-label>

          <ion-label slot="end">
            <h2>  Anish </h2>
            <p> 8787890090</p>
          </ion-label>
        </ion-item>

        <ion-item >
          <ion-label>
            <h2>user1</h2>
            <p>9894891323</p>
          </ion-label>

          <ion-label class="ion-padding">
            <h2> ₹ 100 </h2>
          </ion-label>

          <ion-label slot="end">
            <h2>  admin </h2>
            <p> 1234567890</p>
          </ion-label>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>
</ion-content>