<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Trip-list</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card *ngFor="let t of trips">
    <ion-item>
      <ion-card-header>
        <ion-card-title>
          {{ t.title }}
        </ion-card-title>
      </ion-card-header>

      <ion-button class="edit" fill="clear" slot="end" (click)="viewtripexpenseModal(t._id,t.title)">
        <ion-icon name="create-outline"></ion-icon>
      </ion-button>
    </ion-item>

    <ion-card-content>
      <ion-item slot="start">
        {{ t.date }}
      </ion-item>

      <ion-item slot="end">
       Total Expense :  {{ t.totalAmount }}
      </ion-item>
    </ion-card-content>
  </ion-card>

  <ion-infinite-scroll (ionInfinite)="loadMoreTrips($event)">
    <ion-infinite-scroll-content loadingSpinner="bubbles"
      loadingText="Loading more data..."></ion-infinite-scroll-content>
  </ion-infinite-scroll>

  <!-- Fab Button -->
  <ion-fab vertical="bottom" horizontal="end" slot="fixed" class="ion-padding">
    <ion-fab-button color="success" (click)="opentripModal()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <ion-modal-controller></ion-modal-controller>
</ion-content>