.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
  }
  
  .center-image {
    width: 402px;
    height: 363px;
  }
  
  .otp-input {
    width: 287px;
    height: 36px;
  }
  
  .text-below-input {
    margin-top: 10px;
    text-align: center;
  }
  
  .text-bold-italic {
    font-size: 16px;
    font-weight: bold;
    font-style: italic;
  }
  
  .text-regular {
    font-size: 14px;
  }
  
  .otp-boxes {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
  }
  
  .otp-box {
    width: 331px;
    height: 60px;
    border-radius: 8px;
  }
  