.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
  }
  
  .center-image {
    width: 402px;
    height: 363px;
  }
  
  .text-below-input {
    margin-top: 10px;
    text-align: center;
  }
  
  .text-bold-italic {
    font-size: 20px;
    font-weight: bold;
    font-style: italic;
  }
  
  .text-regular {
    font-size: 16px;
  }

