<ion-header>
  <ion-list-header class="ion-margin">
    <ion-label>Subuser Account</ion-label>
  </ion-list-header>
</ion-header>

<ion-content [fullscreen]="true">
  <!-- Header -->
  <div class="ion-text-center heading">
    <img src="assets/moneyincome.svg" alt="Family Finance Image" style="max-width: 85%; height: auto;">
  </div>

  <!-- Subtitle -->
  <ion-list-header>
    <ion-label>Username List </ion-label>
  </ion-list-header>

  <!-- Main Content Area -->
  <ion-list>
    <ion-item *ngFor="let user of subuser; let index">
     
      <ion-label>
        <h2>Name : {{ user.name }}</h2>
        <p>Relation : {{ user.relationToUser }}</p>
        <p>Mobile : {{ user.mobileNo }}</p>
      </ion-label>
    </ion-item>
  </ion-list>

  <!-- Infinite Scroll -->
  <ion-infinite-scroll (ionInfinite)="loadMoreTransactions($event)">
    <ion-infinite-scroll-content loadingSpinner="bubbles"
      loadingText="Loading more data..."></ion-infinite-scroll-content>
  </ion-infinite-scroll>

  <!-- Fab Button -->
  <ion-fab vertical="bottom" horizontal="center" slot="fixed">
    <ion-fab-button color="success" (click)="navigateToSubuserPage()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content>