<ion-header class="header-with-border">
  <ion-title mode="md" class="tile-center">Sub User List</ion-title>
</ion-header>

<ion-content [fullscreen]="true">
  <!-- Main Content Area -->
  <ion-list>
    <ion-item class="card-style" *ngFor="let u of subuser; let index">
      <ion-label>
        <h2>Name : {{ u.name }}</h2>
        <p class="details">Relation : {{ u.relationToUser }}</p>
        <p class="details">Mobile : {{ u.mobileNo }}</p>
      </ion-label>
      <ion-button class="delete custom-size" color="danger" (click)="deleteSubUser(u._id)">
        <ion-icon name="trash"></ion-icon>
      </ion-button>
    </ion-item>
  </ion-list>

  <!-- Infinite Scroll -->
  <!-- <ion-infinite-scroll (ionInfinite)="loadMoreTransactions($event)">
    <ion-infinite-scroll-content loadingSpinner="bubbles"
      loadingText="Loading more data..."></ion-infinite-scroll-content>
  </ion-infinite-scroll> -->

  <!-- Fab Button -->
  <ion-fab vertical="bottom" horizontal="end" slot="fixed" class="ion-padding">
    <ion-fab-button color="success" (click)="navigateToSubuserPage()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content>