<ion-header class="ion-no-border">
  <ion-title mode="md">Sub user List</ion-title>
</ion-header>


<ion-content [fullscreen]="true">
  <!-- Main Content Area -->
  <ion-list>
    <ion-item *ngFor="let u of subuser; let index">

      <ion-label>
        <h2>Name : {{ u.name }}</h2>
        <p>Relation : {{ u.relationToUser }}</p>
        <p>Mobile : {{ u.mobileNo }}</p>
      </ion-label>
      <ion-button class="delete" (click)="deleteSubUser(u._id)">
        <ion-icon name="trash" class="trash"></ion-icon>
      </ion-button>
    </ion-item>
  </ion-list>

  <!-- Infinite Scroll -->
  <ion-infinite-scroll (ionInfinite)="loadMoreTransactions($event)">
    <ion-infinite-scroll-content loadingSpinner="bubbles"
      loadingText="Loading more data..."></ion-infinite-scroll-content>
  </ion-infinite-scroll>

  <!-- Fab Button -->
  <ion-fab vertical="bottom" horizontal="end" slot="fixed" class="ion-padding">
    <ion-fab-button color="success" (click)="navigateToSubuserPage()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content>