<ion-content [fullscreen]="true" class="ion-text-center">
  <div class="heading">
    <img src="assets\roadtrip.svg" alt="Family Finance Image" style="width: 131px; height: auto;">
    <h1 class="profile-header">Split Travel Expenditure</h1>
  </div>
</ion-content>
<ion-footer class="ion-no-border">
  <ion-row class="ion-justify-content-center">
    <ion-list background="transparent" lines="full">

      <ion-item-group class="ion-margin-horizontal ion-margin-bottom">
        <form [formGroup]="form">
          <div class="ion-margin-vertical">
            <ion-item>
              <ion-input formControlName="destination" label="Destination" label-placement="floating" fill="solid" placeholder="Destination" type="text"></ion-input>
            </ion-item>
            <ion-text *ngIf="!form.get('destination')?.valid && form.get('destination')?.touched">
              <ion-text class="error" *ngIf="form.get('destination')?.hasError('required')" color="danger">
                * Please enter Destination
              </ion-text>
            </ion-text>
          </div>

          <div class="ion-margin-vertical">
            <ion-item>
              <ion-input formControlName="noOfPersons" label="No. Of Persons" label-placement="floating" fill="solid" placeholder="No of Persons" type="Number" ></ion-input>
            </ion-item>
            <ion-text *ngIf="!form.get('noOfPersons')?.valid && form.get('noOfPersons')?.touched">
              <ion-text class="error" *ngIf="form.get('noOfPersons')?.hasError('required')" color="danger">
                * Please enter No of Persons
              </ion-text>
            </ion-text>
          </div>

          <div class="ion-margin-vertical">
            <ion-item>
              <ion-input formControlName="personname" label="Person Name" label-placement="floating" fill="solid" placeholder="Person Name" type="text"></ion-input>
            </ion-item>
            <ion-text *ngIf="!form.get('personname')?.valid && form.get('personname')?.touched">
              <ion-text class="error" *ngIf="form.get('personname')?.hasError('required')" color="danger">
                * Please enter Person Name
              </ion-text>
            </ion-text>
            <!-- Add validation if needed -->
          </div>

          <div class="ion-margin-vertical">
            <ion-item>
              <ion-input formControlName="travelexpense" label="Travel Expense" label-placement="floating" fill="solid" placeholder="Travel Expense" type="Number" ></ion-input>
            </ion-item>
            <ion-text *ngIf="!form.get('travelexpense')?.valid && form.get('travelexpense')?.touched">
              <ion-text class="error" *ngIf="form.get('travelexpense')?.hasError('required')" color="danger">
                * Please enter Travel Expense
              </ion-text>
            </ion-text>
          </div>



          <!-- Save Button -->
          <ion-item lines="none" class="ion-padding-top">
            <div style="display: flex; justify-content: center; width: 100%;">
              <ion-button shape="round" expand="block" class="button" (click)="save()">SAVE</ion-button>
            </div>
          </ion-item>
        </form>
      </ion-item-group>
    </ion-list>
  </ion-row>
</ion-footer>
