<ion-header class="header-with-border">
  <ion-title mode="md" class="tile-center">Transaction Entry</ion-title>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="ion-text-center heading">
    <img src="assets\transaction.svg" alt="Family Finance Image" style="max-width: 65%; height: auto;">
  </div>
</ion-content>

<ion-footer class="ion-no-border">
  <ion-row class="footer-row">
    <ion-list background="transparent" lines="full">
      <ion-item-group class="ion-margin-horizontal ion-margin-bottom">
        <form [formGroup]="form">
          <div class="ion-margin-vertical">
                <ion-radio-group formControlName="category">
                  <ion-item>
                    <ion-radio slot="start" value="income">Income</ion-radio>
                    <ion-radio slot="start" value="expense">Expense</ion-radio>
                  </ion-item>
                </ion-radio-group>
          </div>

          <div class="ion-margin-vertical">
            <ion-item>
              <ion-input formControlName="transactionDate" label="Date of Transaction" label-placement="floating" fill="outline" placeholder="Date of Transaction" type="date" ></ion-input>
            </ion-item>
            <ion-text *ngIf="!form.get('transactionDate')?.valid && form.get('transactionDate')?.touched">
              <ion-text class="error" *ngIf="form.get('transactionDate')?.hasError('required')" color="danger">
                * Please enter Date of Transaction
              </ion-text>
            </ion-text>
          </div>

          <div class="ion-margin-vertical">
            <ion-item>
              <ion-input formControlName="amount" label="Amount" label-placement="floating" fill="outline" placeholder="Amount" type="number" ></ion-input>
            </ion-item>
            <ion-text *ngIf="!form.get('amount')?.valid && form.get('amount')?.touched">
              <ion-text class="error" *ngIf="form.get('amount')?.hasError('required')" color="danger">
                * Please enter Amount
              </ion-text>
            </ion-text>
          </div>

          <div class="ion-margin-vertical">
            <ion-select formControlName="expensecategory" label="Category" label-placement="floating" fill="outline" placeholder="Category" *ngIf="form.get('category')?.value !== 'income'">
              <ion-select-option value="food">Food</ion-select-option>
              <ion-select-option value="groceries">Groceries</ion-select-option>
              <ion-select-option value="healthcare">Healthcare</ion-select-option>
              <ion-select-option value="shopping">Shopping</ion-select-option>
              <ion-select-option value="entertainment">Entertainment</ion-select-option>
              <ion-select-option value="payment">Payment</ion-select-option>
              <ion-select-option value="investment">Investment</ion-select-option>
              <ion-select-option value="food">Food</ion-select-option>
              <ion-select-option value="education">Education</ion-select-option>
              <ion-select-option value="stationary">Stationery</ion-select-option>
              <ion-select-option value="travel">Travel</ion-select-option>
              <ion-select-option value="transportation">Transportation</ion-select-option>
              <ion-select-option value="bills">Bills</ion-select-option>
            </ion-select>

            <ion-select formControlName="expensecategory" label="Category" label-placement="floating" fill="outline" placeholder="Category" *ngIf="form.get('category')?.value === 'income'" [disabled]="true">
              <ion-select-option value="income">Income</ion-select-option>
              <!-- Add other income categories here if needed -->
            </ion-select>
            <!-- You may add validation if needed -->
          </div>

          

          <ion-item lines="none" class="ion-padding-top">
            <div style="display: flex; justify-content: center; width: 100%;">
              <ion-button shape="round" expand="block" class="button" (click)="submitForm()">ADD</ion-button>
            </div>
          </ion-item>
        </form>
      </ion-item-group>
    </ion-list>
