<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="transactionhistory">
      <ion-icon name="card-outline"></ion-icon>
      Transaction
    </ion-tab-button>
    <ion-tab-button tab="split-travel">
      <ion-icon name="car-outline"></ion-icon>
      Travel Expense
    </ion-tab-button>
    <ion-tab-button tab="home">
      <ion-icon name="home-outline"></ion-icon>
      Home
    </ion-tab-button>
    <ion-tab-button tab="budgetalert">
      <ion-icon name="alarm-outline"></ion-icon>
      Budget Alert
    </ion-tab-button>
    <ion-tab-button tab="transaction">
      <ion-icon name="people-outline"></ion-icon>
      User
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>