ion-tab-bar{
  --background: #d9d9d9;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  padding-top: 1vh;
  padding-bottom: 1vh;
  ion-tab-button{
      --color: #131313;
      --color-selected: #7ed957;
      ion-icon{
          font-size: 35px ;
      }
  }
}
