swiper-container {
  height: 100%;
  width: 100%;
  background: #f5f5f5;
}

.slides-bullet ::ng-deep .swiper-pagination-bullet {
  background-color: #b2b2b2; /* Change to your desired color */
  width: 10px; /* Optional: Adjust the width of the bullet */
  height: 10px; /* Optional: Adjust the height of the bullet */
  margin: 0 5px; /* Optional: Adjust the spacing between bullets */
}

.slides-bullet ::ng-deep .swiper-pagination-bullet-active {
  background-color: #000000; /* Change to your desired color */
}

swiper-slide {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.page .image {
  flex-basis: 50% !important;
}

.page .image img {
  width: 100%;
  height: 100%;
}

.page .content {
  flex-basis: 30% !important;
  width: 100%;
  padding: 2vh;
}

swiper-container .swiper-slide {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: 100%;
  padding: 2vh;
}

.page .content .text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* Added to distribute space evenly */
  height: 100%;
  /* Added to take full height */
}

.page .content .text p {
  font-size: 16px;
  text-align: justify;
  line-height: 1.4rem;
  color: #313131;
  font-weight: 500;
}

.page .content .text .header {
  font-size: 22px;
  text-align: center;
  letter-spacing: 1.2px;
  font-weight: 600;
  color: #2e2e2e;
  /* Horizontally center the header text */
}

.page .content .buttons {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  width: 100%;

  a {
    font-size: 19px;
    color: #6e6e6e;
    letter-spacing: 2px;
    font-weight: 600;
    padding: 1rem;
  }

  .skip {
    color: #454545;
    /* Changed color to black for better visibility */
    font-size: 18px;
    /* Increased font size for better visibility */
  }

  .button {
    width: 100%;
    height: 6vh;
    --background: #7ed957;
    font-size: 2vh;
    font-weight: 500;
    color: #f5f5f5;
  }
}
