<ion-header>
  <ion-toolbar>
    <ion-title>Sign In</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding" [fullscreen]="true">
  <div class="container">
    <!-- Heading -->
    <h1 class="heading">Family Finance</h1>
    
    <!-- Inputs -->
    <div class="inputs-container">
      <ion-input label="Full Name" label-placement="floating" fill="outline" placeholder="Enter text" style="--border-color: #000000;"></ion-input>
      <ion-input label="Mobile No." label-placement="floating" fill="outline" placeholder="Enter text" style="--border-color: #000000;"></ion-input>
      <ion-input label="Email ID" label-placement="floating" fill="outline" placeholder="Enter text" style="--border-color: #000000;"></ion-input>
    </div>
    
    <!-- Button -->
    <ion-button expand="block" style="--background: #7ED957; --border-radius: 50px;">SEND OTP</ion-button>
  </div>
</ion-content>
