// .heading {
//   margin-top: 10vh;
//   font-size: 25px;
//   font-weight:bolder; /* Adjust the value as needed */
// }
// ion-footer {
//   ion-row {
//       padding-top: 5vh;
//       background: transparent;
//       display: block;
//   }
// }

.custom-background {
  position: absolute;
  width: 428px;
  height: 779px;
  left: 2px;
  top: 181px;
  background: #F5F5F5;
  border-radius: 50px 50px 0px 0px;
}

.container {
  position: relative; /* Ensure the container is positioned relative to allow absolute positioning of the heading */
  display: flex;
  flex-direction: column;
  align-items: center; /* Center align horizontally */
  justify-content: center; /* Center align vertically */
  height: 100%;
}

.heading {
  position: absolute; /* Position the heading over the grey background */
  top: 30px; /* Adjust the top position as needed */
  font-size: 32px;
  font-weight: bold;
  font-family: 'Ubuntu', sans-serif;
  width: 224px;
  height: 37px;
  white-space: nowrap; /* Ensures the heading remains in one line */
}

.inputs-container {
  display: flex;
  flex-direction: column;
  
  align-items: center; /* Center align horizontally */
  justify-content: center; /* Center align vertically */
  margin-top: 20px; /* Adjust margin top as needed */
}

ion-input {
  padding-bottom: 20px;
  ion-input {
    --border-color: #000000; /* Add black border to ion-input */
    --border-radius: 10px; /* Apply border-radius to ion-input */
    margin-bottom: 20px; /* Adjust margin between inputs */
  }

}

ion-button {
  margin-top: 20px; /* Adjust margin top as needed */
  --background: #7ED957;
  --border-radius: 50px;
  --border: 1px solid #000000; /* Add stroke with color #000000 */
}
