.container {
    display: flex;
    flex-direction: column;
    align-items: center; /* Center align horizontally */
    justify-content: center; /* Center align vertically */
    height: 100%;
  }
  
  .heading {
    font-size: 32px;
    font-weight: bold;
    font-family: 'Ubuntu', sans-serif;
    width: 224px;
    height: 37px;
    white-space: nowrap; /* Ensures the heading remains in one line */
  }
  
  .inputs-container {
    display: flex;
    flex-direction: column;
    align-items: center; /* Center align horizontally */
    justify-content: center; /* Center align vertically */
    margin-top: 20px; /* Adjust margin top as needed */
  }
  
  ion-input {
    margin-bottom: 20px; /* Adjust margin between inputs */
  }
  
  ion-button {
    margin-top: 20px; /* Adjust margin top as needed */
    --background: #7ED957;
    --border-radius: 50px;
    --border: 1px solid #000000; /* Add stroke with color #000000 */
  }
  