
<ion-content class="ion-padding" [fullscreen]="true">
  <div class="custom-background"></div>
  <div class="container">
    <!-- Heading -->
    <h1 class="heading">Family Finance</h1>
    
    <!-- Inputs -->
    <div class="inputs-container">
      <ion-input label="Full Name" label-placement="floating" fill="outline" placeholder="Enter text" style="--border-color: #000000;"></ion-input>
      <ion-input label="Mobile No." label-placement="floating" fill="outline" placeholder="Enter text" style="--border-color: #000000;"></ion-input>
      <ion-input label="Email ID" label-placement="floating" fill="outline" placeholder="Enter text" style="--border-color: #000000;"></ion-input>
    </div>
    
    <!-- Button -->
    <ion-button expand="block">SEND OTP</ion-button>
  </div>
</ion-content>
